<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="admin/_fragments::head(~{::title})">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>博客管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"/>
    <link rel="stylesheet" href="../../static/css/me.css"/>
</head>

<body>
<!-- //navigation -->
<nav th:replace="admin/_fragments::menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">后台管理</h2>
            <a href="#" class="active m-item item m-mobile-hide"><i class="home small icon"></i>博客</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea small icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="clone small icon"></i>归档</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="https://picsum.photos/100/100?image=1005" alt="" class="ui avatar image">
                        ysx
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui black  menu toggle button m-top-right m-mobile-show"><i class="sidebar icon"></i></a>
</nav>

<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/blogs/input}" class="item">发布</a>
            <a href="#"  th:href="@{/admin/blogs}" class="active teal item">列表</a>
        </div>
    </div>
</div>
<!-- //mid -->
<div class="m-padded-tb-large">
    <div class="ui container">
        <div class="ui form segment">
            <input type="hidden" name="page">
            <div class="inline fields">
                <div class="field">
                    <input type="text" name="title" id="title" placeholder="标题"/>
                </div>
                <div class="field">
                    <div class="ui labeled action input">
                        <div class="ui type selection dropdown">
                            <input type="hidden" name="typeId">
                            <i class="dropdown icon"></i>
                            <div class="default text">分类</div>
                            <div class="menu" >
                                <div class="item" th:each="type:${types}" data-value="1" th:data-value="${type.id}" th:text="${type.name}">错误日志</div>
                            </div>
                        </div>
                        <button  class="ui  clear button">clear</button>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="recommend" name="recommend">
                        <label for="recommend">推荐</label>
                    </div>
                </div>
                <div class="field">
                    <button type="button" id="search-btn"  class="ui mini teal basic button"><i class="search icon"></i> 搜索</button>
                </div>
            </div>
        </div>

        <div id="table-container">
            <table class="ui compact teal table" th:fragment="blogList">
                <thead>
                <tr>
                    <th></th>
                    <th>标题</th>
                    <th>类型</th>
                    <th>状态</th>
                    <th>推荐</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="blog,iterStat:${page.content}">
                    <td th:text="${iterStat.count}">1</td>
                    <td th:text="${blog.title}">java笔记</td>
                    <td th:text="${blog.type.name}">java</td>
                    <td th:text="${blog.published}?'发布':'草稿'">发布</td>
                    <td th:text="${blog.recommend}?'是':'否'">是</td>
                    <td th:text="${blog.updateTime}">2019-10-1</td>
                    <td>
                        <a href="#" th:href="@{/admin/blogs/{id}/input(id=${blog.id})}" class="ui mini teal button">编辑</a>
                        <a href="#" th:href="@{/admin/blogs/{id}/delete(id=${blog.id})}" class="ui mini red button">删除</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="7">
                        <div class="ui pagination menu" th:if="${page.totalPages}>1">
                            <a onclick="page(this)" class="item" th:attr="data-page=${page.number}-1"
                               th:unless="${page.first}">
                                <i class="left chevron icon"></i>
                                上一页
                            </a>
                            <a onclick="page(this)" class="item" th:attr="data-page=${page.number}+1"
                               th:unless="${page.last}">
                                下一页
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                        <a href="#" th:href="@{/admin/blogs/input}" class="ui mini right floated teal basic button ">新增</a>
                    </th>
                </tr>
                </tfoot>
            </table>

            <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                <i class="close icon"></i>
                <div class="header">提示:</div>
                <p th:text="${message}">提示信息！！！！</p>
            </div>
        </div>

    </div>
</div>

<footer th:replace="admin/_fragments::footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/img/wx.jpeg" class="ui rounded image" style="width:110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事(User Stroy)</a>
                    <a href="#" class="item">用户故事(User Stroy)</a>
                    <a href="#" class="item">用户故事(User Stroy)</a>
                </div>
            </div>
            <div class="three wide column">

                <h4 class="ui inverted header">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email: 691765069@qq.com</a>
                    <a href="#" class="item">QQ: 691765069</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是ysx的个人博客，会写一些我平时学习的笔记和经验，希望可以对你有帮助</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-mini">Copyright@2016-2020 Design by ysx</p>
    </div>
</footer>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide')
    })
    $('.ui.dropdown').dropdown({
        on: "hover"
    });
    $('.message .close').on("click",function (){
        $(this)
            .closest(".message")
            .transition('fade');
    });

    function page(obj){
        $("[name='page']").val($(obj).data("page"));
        loadDate();
    };
    $("#search-btn").click(function (){
        $("[name='page']").val(0);
        loadDate();
    });
    function loadDate() {
        $('#table-container').load(/*[[@{/admin/blogs/search}]])*/"/admin/blogs/search",{
           title: $("[name='title']") .val(),
            typeId: $("[name='typeId']").val(),
            recommend: $("[name='recommend']").prop('checked'),
            page: $("[name='page']").val()
        });
    }
    $(".clear.button").on("click",function(){
        $('.ui.type.dropdown').dropdown('clear');
    })
</script>
</body>

</html>

