<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>关于我</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />
    <link rel="stylesheet" href="../static/css/me.css" />
</head>

<body>
    <!-- //navigation -->
    <nav th:replace="_fragments::menu(5)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Blog</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="home small icon"></i>首页</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="idea small icon"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="clone small icon"></i>归档</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="tags small icon"></i>标签</a>
                <a href="#" class="active m-item item m-mobile-hide"><i class="info small icon"></i>关于我</a>
                <div class="m-item right item m-mobile-hide">
                    <div class="ui icon inverted transparent input">
                        <input type="text" name="" id="" placeholder="Search....">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui black  menu toggle button m-top-right m-mobile-show"><i class="sidebar icon"></i></a>
    </nav>

    <!-- //mid -->
    <div class="m-padded-tb-large">
        <div class="ui container">
            <div class="ui stackable grid">
                <div class="ui eleven wide column">
                    <div class="ui segment">
                    <img src="https://picsum.photos/800/600?image=1005" alt="" class="ui rounded image">
                    </div>
                </div>

                <div class="five wide column">
                    <div class="ui top center aligned attached segment">
                        <div class="ui  headder">关于我</div>
                    </div>
                    <div class="ui attached segment">
                        <p class="m-text">ysx，一个热爱学习的cs学生,喜欢研究算法和一些框架。</p>
                        <p class="m-text">最爱的一句话：talking is cheap, and show me the code</p>


                    </div>
                    <div class="ui attached segment">
                        <div class="ui orange basic left pointing label">编程</div>
                        <div class="ui orange basic left pointing label">写作</div>
                        <div class="ui orange basic left pointing label">思考</div>
                        <div class="ui orange basic left pointing label">运动</div>
                    </div>
                    <div class="ui attached segment">
                        <a th:href="@{tags/{id}(id=${tag.id})}" class="ui teal basic left pointing label large m-margin-tb-tiny" th:text="${tag.name}" th:each="tag:${tags}">java</a>
                    </div>
                    <div class="ui bottom attached segment">
                        <a href="https://github.com/sinsheep" target="_blank" class="ui circular icon button"><i class="github icon"></i></a>
                        <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                        <a href="#" class="ui qq circular icon button" data-content="691765069" data-position="bottom center"><i class="qq icon"></i></a>
                    </div>
                    <div class="ui wechatQR flowing popup transition hidden">
                        <img th:src="@{/static/img/wx.jpeg}" src="../static/img/wx.jpeg" alt="" class="ui rounded image" style="width: 100px;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="_fragments::footer" class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img th:src="@{/static/img/wx.jpeg}" src="../static/img/wx.jpeg" class="ui rounded image" style="width:110px">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事(User Stroy)</a>
                        <a href="#" class="item">用户故事(User Stroy)</a>
                        <a href="#" class="item">用户故事(User Stroy)</a>
                    </div>
                </div>
                <div class="three wide column">

                    <h4 class="ui inverted header">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Email: 691765069@qq.com</a>
                        <a href="#" class="item">QQ: 691765069</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Blog</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">这是ysx的个人博客，会写一些我平时学习的笔记和经验，希望可以对你有帮助</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-mini">Copyright@2016-2020 Design by ysx</p>
        </div>
    </footer>

    <!--/*/<th:block th:replace="_fragments :: script">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <!--/*/</th:block>/*/-->

    <script>
        $('.menu.toggle').click(function() {
            $('.m-item').toggleClass('m-mobile-hide');
        });
        $('.qq').popup();
        $('.wechat').popup({
            popup: $('.wechatQR'),
            position: "bottom center"
        });
    </script>
</body>

</html>
